{% load static %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2024 Task Manager. All rights reserved.</p>
            <div class="social-icons">
                <a href="#"><img src="{% static 'images/icons/facebook.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/icons/twitter.png' %}" alt="Twitter"></a>
                <a href="#"><img src="{% static 'images/icons/instagram.png' %}" alt="Instagram"></a>
            </div>
        </div>
    </div>
</footer>