{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a class="{% if request.path == '/' %}logo{% else %}logo2{% endif %}" href="{% url 'Home Page' %}">Task Manager</a>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                <li><a href="{% url 'kanban' %}">Kanban</a></li>
                <li><a href="{% url 'task_list' %}">Task List</a></li>
                {% else %}
                <li><a href="#kanban">Kanban</a></li>
                <li><a href="#task-list">Task List</a></li>
                <li class="right-items"><a href="#get-started">Get Started</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="logout">
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                        </form>
                    </li>
                    {% else %}
                    {% if request.path != '/login/' %}
                        <li class="logout"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
</body>
</html>