{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-olwWt8g+7Mz/9iGKsjFtM6pHBEpOA47P3Qf5cUFtEpgyKxpnX1NqEOijjtSxlMKZkPKMoq45bPd+HvO9xkzZFg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .kanban-title {
            font-size: 1.8rem;
            margin-top: 25px;
            margin-bottom: 25px;
            color: #555;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="main-content">
        <h1 class="kanban-title">Kanban Board</h1>
        {% include 'kanban/kanbantable.html' %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
